.frame.config > .body .section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame.config > .body .section.row {
    flex-flow: row wrap;
}

.frame.config > .body .section.row > .section {
    flex: 1 1 162px;
}

.frame.config > .body .section > .title {
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 600;
}

.frame.config > .body .section > .title > .warning {
    display: inline-block;
    color: var(--text-warning);
    font-size: 1rem;
    font-weight: 600;
}

.frame.config > .body .section > .title > .warning:before {
    content: "- ";
}
.frame.config > .body .section > .title > .warning:empty::before {
    content: "";
}

.frame.config > .body .section > .input {
    background-color: var(--primary-light-extra);
    color: var(--text);
    height: 32px;
    padding: 4px 6px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--primary-light-ultra);
    transition: border-color .15s ease-in-out;
}

.frame.config > .body .section.row > .input {
    flex: 1 1 162px;
}

.frame.config > .body .section > .input::placeholder {
    color: var(--text-placeholder)
}

.frame.config > .body .section > .input:hover {
    border-color: var(--primary-light-supra);
}

.frame.config > .body .section > .input:focus {
    border-color: var(--secondary);
}

.frame.config > .body .section > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 8px;
}

.frame.config > .body .section > .grid > .item {
    background-color: var(--primary-light-extra);
    color: var(--text);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px transparent solid;
    transition: border-color .10s ease-in-out;
}

.frame.config > .body .section > .grid > .item:hover,
.frame.config > .body .section > .grid > .item:focus-visible {
    border-color: var(--primary-light-supra);
}

.frame.config > .body .section > .grid > .item[aria-pressed="true"] {
    border-color: var(--secondary);
}

.frame.config > .body .section > .range {
    background-color: var(--primary-light-extra);
    color: var(--text);
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 208px;
    height: 34px;
    border-radius: 8px;
}

.frame.config > .body .section > .range > .range-value {
    color: var(--text);
    font-family: "Roboto Mono", monospace;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    border-color: var(--primary-light-ultra);
    border-style: solid;
    border-width: 0 1px;
    transition: font-weight .20s ease-in-out;
}

.frame.config > .body .section > .range > .range-button:first-child {
    border-radius: 8px 0 0 8px;
}

.frame.config > .body .section > .range > .range-button:last-child {
    border-radius: 0 8px 8px 0;
}