.frame.menu > .header > .logo {
    max-width: clamp(32px, 50vw, 195px);
}

.frame.menu > .body {
    text-align: center;
}

h1 {
    color: var(--text);
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    color: var(--text);
    font-size: 1.3rem;
    font-weight: bold;
}

p {
    color: var(--text);
    font-size: 1.05rem;
    font-weight: 400;
}