.frame.setting .player {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8px;
}

.frame.setting .player > .input {
    flex: 1 1 125px;
    background-color: var(--primary-light-extra);
	color: var(--text);
	border-radius: 8px;
	width: 100%;
    height: 34px;
    padding: 4px 6px;
	box-sizing: border-box;
	transition: border-color .15s ease-in-out;
	border: 1px solid var(--primary-light-ultra);
}

.frame.setting .player > .input::placeholder {
    color: var(--text-placeholder)
}

.frame.setting .player > .input:hover {
    border-color: var(--primary-light-supra);
}

.frame.setting .player > .input:focus {
    border-color: var(--secondary);
}

.frame.setting .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 8px;
}

.frame.setting .grid > .item {
    background-color: var(--primary-light-extra);
    color: var(--text);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 48px;
    border: 1px transparent solid;
    box-sizing: border-box;
    transition: border-color .10s ease-in-out;
}

.frame.setting .grid > .item:hover,
.frame.setting .grid > .item:focus-visible {
    border-color: var(--primary-light-supra);
}

.frame.setting .grid > .item.selected {
    border-color: var(--secondary);
}

.frame.setting .range {
    background-color: var(--primary-light-extra);
    color: var(--text);
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 208px;
    height: 34px;
    border-radius: 8px;
}

.frame.setting .range > .range-value {
    font-size: 1.1rem;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-color: var(--primary-light-ultra);
    border-style: solid;
    border-width: 0 1px;
}

.frame.setting .range > .range-button {
    flex-shrink: 0;
    width: 48px;
}

.frame.setting .range > .range-button:first-child {
    border-radius: 8px 0 0 8px;
}

.frame.setting .range > .range-button:last-child {
    border-radius: 0 8px 8px 0;
}