.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 16px 0;
    box-sizing: border-box;
}

.frame > .frame-header > .title {
    font-family: "GentyDemo", sans-serif;
    color: var(--title);
    font-size: clamp(32px, 15vw, 64px);
    text-align: center;
    text-shadow: 3px 3px 2px var(--secondary);
}

.frame > .frame-body {
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18px 24px;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;
    user-select: all;
}

.frame > .frame-body > .section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame > .frame-body > .section > .title {
    color: var(--title);
    font-size: 1.1rem;
    font-weight: 600;
}

.frame > .frame-footer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.frame > .frame-footer > .button {
    background-color: var(--primary-lighter);
    color: var(--title);
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border-radius: 8px;
}

/* SETTING */

.frame.setting .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 8px;
}

.frame.setting .grid > .item {
    background-color: var(--primary-lighter);
    color: var(--title);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 48px;
    border: 1px transparent solid;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out;
}

.frame.setting .grid > .item:hover,
.frame.setting .grid > .item:focus-visible {
    border-color: var(--secondary);
}

.frame.setting .grid > .item.selected {
    border-color: var(--secondary);
}

.frame.setting .range {
    background-color: var(--primary-lighter);
    color: var(--title);
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 208px;
    height: 36px;
    border-radius: 8px;
}

.frame.setting .range > .range-value {
    font-size: 1.15rem;
    color: var(--icon);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.frame.setting .range > .range-button {
    flex-shrink: 0;
    color: var(--icon);
    font-size: 20px;
    width: 48px;
    border-radius: 0 8px 8px 0;
    border: 1px transparent solid;
    transition: color .10s ease-in-out;
    box-sizing: border-box;
}

.frame.setting .range > .range-button > svg {
    height: 100%;
}

.frame.setting .range > .range-button:first-child {
    border-radius: 8px 0 0 8px;
}

.frame.setting .range > .range-button:hover {
    color: var(--icon-active);
}

.frame.setting .range > .range-button:focus-visible {
    color: var(--icon-active);
    border: 1px var(--secondary) solid;
}