.frame {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 16px 0;
    box-sizing: border-box;
}

.frame > .header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.frame > .header > .title {
    color: var(--text);
    font-family: "GentyDemo", sans-serif;
    font-size: clamp(32px, 13vw, 48px);
    text-align: center;
    text-shadow: 1px 2px 0 var(--secondary);
}

.frame > .body {
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px 24px;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
}

.frame > .footer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

.frame > .footer > .content {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.frame > .footer > .content > button {
    padding: 10px 16px;
}

@media (max-width: 482px) {
    .frame > .body {
       background: none;
       padding-top: 0;
       padding-bottom: 0;
    }
    .frame > .footer {
        align-items: end;
    }
}